.active {
  font-weight: bold;
}

.content {
  width: 75%;
}

.vote-buttons {
  width: 25%;
}

.container {
  width: 100%;
  display: flex;
}

.like-icons {
  font-size: 60px;
  margin: 12px;
}

.btn-container {
  margin: 12px;
}

.error {
  margin: 12px;
  text-align: center
}